<div class="slide-me">
    <br />
    <div class="flex-center-a-j flow-col max text-center">
        <div class="main-title">
            
            <!-- <br/> -->
            <!-- <h1>Which type of Extremist member are you?</h1> -->
            <h1>Extremist and Cult Leader Similarity Quiz</h1>
            <h3>Rhetoric and Ideology final project by Jasper Mesenbrink</h3>
            
            <a [routerLink]="['/quiz']">
                <button mat-button>
                    Take the Test
                </button>
            </a>
            
            
        </div>
    </div>


    <br />
    <br />
    <br />
</div>

<div class="flex-center-a-j flow-col max-width">
    <h1 class=" text-center">Research Process and Analysis</h1>
    <div class="paper margin-sides-1x">
        <app-research-process />
    </div>
</div>