<div class="slide-me">
    <br />
    <div class="flex-center-a-j flow-col max text-center">
        <div class="main-title">
            
            <!-- <br/> -->
            <!-- <h1>Which type of Extremist member are you?</h1> -->
            <h1>(WORKING TITLE) Extremist group member type quiz</h1>
            <h3>Rhetoric and Ideology final project by Jasper Mesenbrink</h3>
            
            <a [routerLink]="['/quiz']">
                <button mat-button>
                    Take the Test
                </button>
            </a>
            
            
        </div>
    </div>


    <br />
    <br />
    <br />
</div>

<div class="flex-center-a-j flow-col max-width">
    <h1 class=" text-center">Research Process and Analysis</h1>
    <div class="paper margin-sides-1x">

        <p>
            Lorem ipsum odor amet, consectetuer adipiscing elit. Pulvinar magnis varius per integer ad elit cursus litora.
            Facilisis eu vel dignissim nibh mi commodo tristique morbi. Porta amet ut gravida enim nisi parturient.
            Himenaeos interdum urna habitant quam dictumst elit. Aliquet arcu nascetur sollicitudin adipiscing taciti
            penatibus. Potenti diam interdum tincidunt neque id. Id turpis vehicula sem orci habitant egestas dis consequat.
        </p>
        <p>
            Purus rhoncus vitae blandit porttitor aptent neque. Senectus id ut dignissim faucibus felis varius lacus. Hendrerit
            lectus potenti suspendisse massa luctus sociosqu, congue posuere. Massa massa dui justo ligula sed himenaeos nullam
            metus turpis. Malesuada himenaeos quam nam consequat erat sociosqu inceptos. Senectus ipsum odio dictum in congue
            platea libero conubia. Id metus fames parturient ullamcorper enim facilisis.
        </p>
        <p>
            Ridiculus class luctus porta at scelerisque facilisi hendrerit gravida. Est semper maecenas commodo consequat at
            eu nisl magnis ligula. Sed cursus dapibus cubilia ultrices mattis volutpat. Sollicitudin facilisis facilisi
            hendrerit orci; nostra tempus eleifend dui. Aptent nascetur potenti arcu nibh accumsan; facilisis facilisis
            mauris. Penatibus taciti vulputate vehicula scelerisque ad mattis a cursus. Pretium magnis id velit tincidunt
            dui placerat.
        </p>
        <p>
    
    
            Congue mi luctus luctus inceptos hac lacus diam auctor. Pulvinar habitasse orci accumsan vehicula conubia.
            Pretium urna suspendisse vulputate amet facilisi lacinia. Ridiculus dis auctor cras nunc nunc ipsum. Maecenas
            aptent velit diam volutpat nunc penatibus ligula conubia. Senectus augue justo leo eget augue sollicitudin
            phasellus.
        </p>
        <p>
            Potenti ad magna sagittis sodales cursus nascetur eros mi? Lectus id dui ridiculus morbi class. Ridiculus ante
            sit dolor magnis dapibus. Dui netus maecenas erat vitae eu sapien. Urna dapibus dignissim dis elementum;
            curabitur suscipit velit potenti rhoncus. Egestas faucibus maximus tristique tristique fames.
    
        </p>
    </div>

</div>