<div class="flex-center-a-j">
    <mat-card class="margin-t-b-1x margin-sides-1x text-center question">
        <mat-card-title style="margin-top: 15px; margin-bottom: 15px;" >
            {{question.title}}
        </mat-card-title>
        <mat-card-content>
            @if(question.type && question.type === "reg"){
                <app-question-input-a (scoreChange)="updateScore($event)"/>
            }
            @if(question.type && question.type === "tf"){
                <app-question-input-tf (scoreChange)="updateScore($event)" />
            }
        </mat-card-content>
    </mat-card>

</div>    
