<div class="max-width q-input">
    <div class="row-1">
        <div>
            {{leftText}}
        </div>
        <div></div>
        <div>
            nuetral
        </div>
        <div></div>
        <div>
            {{rightText}}
        </div>
    </div>
    <div>
        <mat-radio-group class="row-2" (change)="updateScore($event.value)" #radio>
            <mat-radio-button [value]="-2" />
            <mat-radio-button [value]="-1" />
            <mat-radio-button [value]="0" />
            <mat-radio-button [value]="1" />
            <mat-radio-button [value]="2" />
        </mat-radio-group>
    </div>
</div>