<div class="max-width q-input">
    <div class="row-1">
        <div>
            {{leftText}}
        </div>
        <div></div>
        <div>
            neutral
        </div>
        <div></div>
        <div>
            {{rightText}}
        </div>
    </div>
    <div>
        <mat-radio-group class="row-2" (change)="updateScore($event.value)" #radio>
            <mat-radio-button [value]="vals[0]" />
            <mat-radio-button [value]="vals[1]" />
            <mat-radio-button [value]="vals[2]" />
            <mat-radio-button [value]="vals[3]" />
            <mat-radio-button [value]="vals[4]" />
        </mat-radio-group>
    </div>
</div>