ul.lst-kix_dfoknv50dl1e-8 {
    list-style-type: none;
  }
  .lst-kix_faaghh4ntrud-0 > li:before {
    content: "\0025cf   ";
  }
  ul.lst-kix_dfoknv50dl1e-6 {
    list-style-type: none;
  }
  .lst-kix_faaghh4ntrud-1 > li:before {
    content: "\0025cb   ";
  }
  ul.lst-kix_dfoknv50dl1e-7 {
    list-style-type: none;
  }
  ul.lst-kix_dfoknv50dl1e-4 {
    list-style-type: none;
  }
  ul.lst-kix_dfoknv50dl1e-5 {
    list-style-type: none;
  }
  .lst-kix_dfoknv50dl1e-3 > li:before {
    content: "-  ";
  }
  .lst-kix_faaghh4ntrud-8 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_dfoknv50dl1e-2 > li:before {
    content: "-  ";
  }
  ul.lst-kix_faaghh4ntrud-0 {
    list-style-type: none;
  }
  .lst-kix_dfoknv50dl1e-1 > li:before {
    content: "-  ";
  }
  ul.lst-kix_faaghh4ntrud-5 {
    list-style-type: none;
  }
  ul.lst-kix_faaghh4ntrud-6 {
    list-style-type: none;
  }
  ul.lst-kix_faaghh4ntrud-7 {
    list-style-type: none;
  }
  .lst-kix_dfoknv50dl1e-0 > li:before {
    content: "-  ";
  }
  ul.lst-kix_faaghh4ntrud-8 {
    list-style-type: none;
  }
  ul.lst-kix_faaghh4ntrud-1 {
    list-style-type: none;
  }
  ul.lst-kix_faaghh4ntrud-2 {
    list-style-type: none;
  }
  ul.lst-kix_faaghh4ntrud-3 {
    list-style-type: none;
  }
  ul.lst-kix_faaghh4ntrud-4 {
    list-style-type: none;
  }
  li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt;
  }
  .lst-kix_faaghh4ntrud-7 > li:before {
    content: "\0025cb   ";
  }
  .lst-kix_faaghh4ntrud-6 > li:before {
    content: "\0025cf   ";
  }
  .lst-kix_dfoknv50dl1e-4 > li:before {
    content: "-  ";
  }
  .lst-kix_faaghh4ntrud-5 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_dfoknv50dl1e-5 > li:before {
    content: "-  ";
  }
  ul.lst-kix_dfoknv50dl1e-2 {
    list-style-type: none;
  }
  .lst-kix_faaghh4ntrud-3 > li:before {
    content: "\0025cf   ";
  }
  ul.lst-kix_dfoknv50dl1e-3 {
    list-style-type: none;
  }
  ul.lst-kix_dfoknv50dl1e-0 {
    list-style-type: none;
  }
  .lst-kix_faaghh4ntrud-2 > li:before {
    content: "\0025a0   ";
  }
  .lst-kix_faaghh4ntrud-4 > li:before {
    content: "\0025cb   ";
  }
  ul.lst-kix_dfoknv50dl1e-1 {
    list-style-type: none;
  }
  .lst-kix_dfoknv50dl1e-6 > li:before {
    content: "-  ";
  }
  .lst-kix_dfoknv50dl1e-8 > li:before {
    content: "-  ";
  }
  .lst-kix_dfoknv50dl1e-7 > li:before {
    content: "-  ";
  }
  ol {
    margin: 0;
    padding: 0;
  }
  table td,
  table th {
    padding: 0;
  }
  .c7 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 216.8pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c13 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #000000;
    border-top-width: 1pt;
    border-right-width: 1pt;
    border-left-color: #000000;
    vertical-align: top;
    border-right-color: #000000;
    border-left-width: 1pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 1pt;
    width: 451.5pt;
    border-top-color: #000000;
    border-bottom-style: solid;
  }
  .c1 {
    background-color: #ffffff;
    color: #202122;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    
    font-style: normal;
  }
  .c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    
    font-style: normal;
  }
  .c15 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    
    font-style: normal;
  }
  .c29 {
    color: #434343;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 14pt;
    
    font-style: normal;
  }
  .c27 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    
    font-style: normal;
  }
  .c22 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16pt;
    
    font-style: normal;
  }
  .c25 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 23pt;
    
    font-style: normal;
  }
  .c2 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .c23 {
    padding-top: 16pt;
    padding-bottom: 4pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: left;
  }
  .c14 {
    padding-top: 18pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-align: left;
  }
  .c30 {
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    
    font-style: normal;
  }
  .c3 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1;
    text-align: left;
  }
  .c12 {
    margin-left: -60.8pt;
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
  }
  .c16 {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: #1155cc;
    text-decoration: underline;
  }
  .c28 {
    padding-top: 24pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    text-align: center;
  }
  .c0 {
    background-color: #ffffff;
    font-style: italic;
    color: #202122;
  }
  .c5 {
    orphans: 2;
    widows: 2;
    height: 11pt;
  }
  .c21 {
    font-size: 12pt;
    font-style: italic;
    color: #1155cc;
  }
  .c26 {
    background-color: #ffffff;
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt;
  }
  .c20 {
    background-color: #ffffff;
    color: #1155cc;
  }
  .c11 {
    orphans: 2;
    widows: 2;
  }
  .c10 {
    color: inherit;
    text-decoration: inherit;
  }
  .c9 {
    padding: 0;
    margin: 0;
  }
  .c19 {
    color: #202122;
    font-size: 12pt;
  }
  .c18 {
    background-color: #ffffff;
    color: #202122;
  }
  .c24 {
    margin-left: 36pt;
    padding-left: 0pt;
  }
  .c17 {
    height: 11pt;
  }
  .c8 {
    height: 0pt;
  }
  .c31 {
    font-style: italic;
  }
  .c4 {
    text-indent: 36pt;
  }
  .title {
    padding-top: 0pt;
    color: #000000;
    font-size: 26pt;
    padding-bottom: 3pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  .subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  li {
    color: #000000;
    font-size: 11pt;
    
  }
  p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    
  }
  h1 {
    padding-top: 20pt;
    color: #000000;
    font-size: 20pt;
    padding-bottom: 6pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h2 {
    padding-top: 18pt;
    color: #000000;
    font-size: 16pt;
    padding-bottom: 6pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h3 {
    padding-top: 16pt;
    color: #434343;
    font-size: 14pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h4 {
    padding-top: 14pt;
    color: #666666;
    font-size: 12pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h5 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
  }
  h6 {
    padding-top: 12pt;
    color: #666666;
    font-size: 11pt;
    padding-bottom: 4pt;
    
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left;
  }