@if (quizSig(); as q) {
   
        <h2 class="text-center">
            {{q.title}}
        </h2>
   
    <!-- not sure if the question order should work like this or not -->
    @for (cat of q.categories; track $index; let catIdx = $index) { 
        @if (DEVMODE) {
            <div>
                category title: 
                {{cat.title}}
            </div>
        }
        @for (q of cat.questions; track $index; let qIdx = $index) {
            <app-question [question]="q" (scoreChange)="updateScore($event, catIdx, qIdx)"/>
        }
    }
    <div class="max-width flex flex-center-a-j" style="margin-top:20px">
        <button mat-button (click)="handleSubmit($event)">Submit</button>
    </div>

    <div class="footer max-width">

    </div>
}