<div class="max-width q-input">
    <div class="row-1">
        <div></div>
        <div>
            True
        </div>
        <div>
            NA
        </div>
        <div>
            False
        </div>
        <div></div>
    </div>
    <div>
        <mat-radio-group class="row-2" (change)="updateScore($event.value)" [value]="0" #radio>
            <div></div>
            <mat-radio-button [value]="2" />
            <mat-radio-button [value]="0" />
            <mat-radio-button [value]="-2" />
        </mat-radio-group>
    </div>
</div>