<div class="max-width q-input">
    <div class="row-1">
        <div></div>
        <div>
            False
        </div>
        <div>
            NA
        </div>
        <div>
            True
        </div>
        <div></div>
    </div>
    <div>
        <mat-radio-group class="row-2" (change)="updateScore($event.value)" #radio>
            <div></div>
            <mat-radio-button [value]="vals[0]" />
            <mat-radio-button [value]="vals[1]" />
            <mat-radio-button [value]="vals[2]" />
        </mat-radio-group>
    </div>
</div>